<app-certificate class="preview" [certificate]="certificate"></app-certificate>
<div class="footer">
    <button mat-button color="primary" (click)="modifyRequested.emit()"> <mat-icon aria-hidden="false" aria-label="Corriger">undo</mat-icon> Corriger</button>
    <form #form="ngForm" (ngSubmit)="validated.emit()">
        <div>
            <mat-form-field>
                <mat-label>Fait à</mat-label>
                <input matInput placeholder="Ex. Paris" [(ngModel)]="certificate.location" name="location" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>le :</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="certificate.date" name="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        Signature :
        <signature-pad (onEndEvent)="signComplete()"></signature-pad>
        <button type="submit" mat-button mat-raised-button color="primary" [disabled]="form.invalid && !!certificate.signatureDataUrl">Valider</button>
    </form>
</div>
