<div [ngSwitch]="step">
    <app-certificate-form
            *ngSwitchCase="1"
            [certificate]="certificate"
            (submitted)="step=2"></app-certificate-form>
    <app-certificate-review
            *ngSwitchCase="2"
            [certificate]="certificate"
            (modifyRequested)="step=1"
            (validated)="step=3"></app-certificate-review>
    <app-certificate
            *ngSwitchCase="3"
            [footerDisplayed]="true"
            [certificate]="certificate"></app-certificate>
</div>
